@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-body: #93b1a6;
    --color-heading: #5c8374;
    --color-base: #eefafa;
    --color-brand: #183d3d;
    --navbar-width: 240px;
    --font-base: "Roboto";
}

body {
    background-color: var(--color-base);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-heading);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand)
}

img {
    width: 100%
}

.text-brand {
    color: var(--color-brand);
    font-weight: 400px;
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.navbar .nav-link {
    font-weight: 400;
    text-transform: lowercase;
    color: var(--color-heading);
}

.navbar .nav-link:hover {
    color: var(--color-brand)
}


@media (min-width: 992px) {
}

.btn {
    padding: 12px 28px;
    font-weight: 700;
    border-color: var(--color-body); 
    color: var(--color-body);
}

.btn:hover,
.btn:focus{
    color: var(--color-base);
    background-color: var(--color-body);
}
